/********** Template CSS **********/
@font-face {
    /*font-family: 'fc_minimalthin';*/
    font-family: 'FC Minimal';
    src: url('../../font/FC-Minimal-Thin-ver-110.eot');
    src: url('../../font/FC-Minimal-Thin-ver-110.eot?#iefix') format('embedded-opentype'),
         url('../../font/FC-Minimal-Thin-ver-110.woff2') format('woff2'),
         url('../../font/FC-Minimal-Thin-ver-110.woff') format('woff'),
         url('../../font/FC-Minimal-Thin-ver-110.ttf')  format('truetype'),
         url('../../font/FC-Minimal-Thin-ver-110.svg') format('svg');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}
@font-face {
    /*font-family: 'fc_minimalthin_italic';*/
    font-family: 'FC Minimal';
    src: url('../../font/FC-Minimal-Thin-Italic-ver-110.eot');
    src: url('../../font/FC-Minimal-Thin-Italic-ver-110.eot?#iefix') format('embedded-opentype'),
         url('../../font/FC-Minimal-Thin-Italic-ver-110.woff2') format('woff2'),
         url('../../font/FC-Minimal-Thin-Italic-ver-110.woff') format('woff'),
         url('../../font/FC-Minimal-Thin-Italic-ver-110.ttf')  format('truetype'),
         url('../../font/FC-Minimal-Thin-Italic-ver-110.svg') format('svg');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}
@font-face {
    /*font-family: 'fc_minimalextralight';*/
    font-family: 'FC Minimal';
    src: url('../../font/FC-Minimal-ExtraLight-ver-110.eot');
    src: url('../../font/FC-Minimal-ExtraLight-ver-110.eot?#iefix') format('embedded-opentype'),
         url('../../font/FC-Minimal-ExtraLight-ver-110.woff2') format('woff2'),
         url('../../font/FC-Minimal-ExtraLight-ver-110.woff') format('woff'),
         url('../../font/FC-Minimal-ExtraLight-ver-110.ttf')  format('truetype'),
         url('../../font/FC-Minimal-ExtraLight-ver-110.svg') format('svg');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}
@font-face {
    /*font-family: 'fc_minimalextralight_italic';*/
    font-family: 'FC Minimal';
    src: url('../../font/FC-Minimal-ExtraLight-Italic-ver-110.eot');
    src: url('../../font/FC-Minimal-ExtraLight-Italic-ver-110.eot?#iefix') format('embedded-opentype'),
         url('../../font/FC-Minimal-ExtraLight-Italic-ver-110.woff2') format('woff2'),
         url('../../font/FC-Minimal-ExtraLight-Italic-ver-110.woff') format('woff'),
         url('../../font/FC-Minimal-ExtraLight-Italic-ver-110.ttf')  format('truetype'),
         url('../../font/FC-Minimal-ExtraLight-Italic-ver-110.svg') format('svg');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}
@font-face {
    /*font-family: 'fc_minimallight';*/
    font-family: 'FC Minimal';
    src: url('../../font/FC-Minimal-Light-ver-110.eot');
    src: url('../../font/FC-Minimal-Light-ver-110.eot?#iefix') format('embedded-opentype'),
         url('../../font/FC-Minimal-Light-ver-110.woff2') format('woff2'),
         url('../../font/FC-Minimal-Light-ver-110.woff') format('woff'),
         url('../../font/FC-Minimal-Light-ver-110.ttf')  format('truetype'),
         url('../../font/FC-Minimal-Light-ver-110.svg') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    /*font-family: 'fc_minimallight_italic';*/
    font-family: 'FC Minimal';
    src: url('../../font/FC-Minimal-Light-Italic-ver-110.eot');
    src: url('../../font/FC-Minimal-Light-Italic-ver-110.eot?#iefix') format('embedded-opentype'),
         url('../../font/FC-Minimal-Light-Italic-ver-110.woff2') format('woff2'),
         url('../../font/FC-Minimal-Light-Italic-ver-110.woff') format('woff'),
         url('../../font/FC-Minimal-Light-Italic-ver-110.ttf')  format('truetype'),
         url('../../font/FC-Minimal-Light-Italic-ver-110.svg') format('svg');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}
@font-face {
    /*font-family: 'fc_minimalregular';*/
    font-family: 'FC Minimal';
    src: url('../../font/FC-Minimal-Regular-ver-110.eot');
    src: url('../../font/FC-Minimal-Regular-ver-110.eot?#iefix') format('embedded-opentype'),
         url('../../font/FC-Minimal-Regular-ver-110.woff2') format('woff2'),
         url('../../font/FC-Minimal-Regular-ver-110.woff') format('woff'),
         url('../../font/FC-Minimal-Regular-ver-110.ttf')  format('truetype'),
         url('../../font/FC-Minimal-Regular-ver-110.svg') format('svg');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    /*font-family: 'fc_minimalitalic';*/
    font-family: 'FC Minimal';
    src: url('../../font/FC-Minimal-Italic-ver-110.eot');
    src: url('../../font/FC-Minimal-Italic-ver-110.eot?#iefix') format('embedded-opentype'),
         url('../../font/FC-Minimal-Italic-ver-110.woff2') format('woff2'),
         url('../../font/FC-Minimal-Italic-ver-110.woff') format('woff'),
         url('../../font/FC-Minimal-Italic-ver-110.ttf')  format('truetype'),
         url('../../font/FC-Minimal-Italic-ver-110.svg') format('svg');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}
@font-face {
    /*font-family: 'fc_minimalmedium';*/
    font-family: 'FC Minimal';
    src: url('../../font/FC-Minimal-Medium-ver-110.eot');
    src: url('../../font/FC-Minimal-Medium-ver-110.eot?#iefix') format('embedded-opentype'),
         url('../../font/FC-Minimal-Medium-ver-110.woff2') format('woff2'),
         url('../../font/FC-Minimal-Medium-ver-110.woff') format('woff'),
         url('../../font/FC-Minimal-Medium-ver-110.ttf')  format('truetype'),
         url('../../font/FC-Minimal-Medium-ver-110.svg') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    /*font-family: 'fc_minimalmedium_italic';*/
    font-family: 'FC Minimal';
    src: url('../../font/FC-Minimal-Medium-Italic-ver-110.eot');
    src: url('../../font/FC-Minimal-Medium-Italic-ver-110.eot?#iefix') format('embedded-opentype'),
         url('../../font/FC-Minimal-Medium-Italic-ver-110.woff2') format('woff2'),
         url('../../font/FC-Minimal-Medium-Italic-ver-110.woff') format('woff'),
         url('../../font/FC-Minimal-Medium-Italic-ver-110.ttf')  format('truetype'),
         url('../../font/FC-Minimal-Medium-Italic-ver-110.svg') format('svg');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}
@font-face {
    /*font-family: 'fc_minimalsemibold';*/
    font-family: 'FC Minimal';
    src: url('../../font/FC-Minimal-SemiBold-ver-110.eot');
    src: url('../../font/FC-Minimal-SemiBold-ver-110.eot?#iefix') format('embedded-opentype'),
         url('../../font/FC-Minimal-SemiBold-ver-110.woff2') format('woff2'),
         url('../../font/FC-Minimal-SemiBold-ver-110.woff') format('woff'),
         url('../../font/FC-Minimal-SemiBold-ver-110.ttf')  format('truetype'),
         url('../../font/FC-Minimal-SemiBold-ver-110.svg#FC Minimal') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    /*font-family: 'fc_minimalsemibold_italic';*/
    font-family: 'FC Minimal';
    src: url('../../font/FC-Minimal-SemiBold-Italic-ver-110.eot');
    src: url('../../font/FC-Minimal-SemiBold-Italic-ver-110.eot?#iefix') format('embedded-opentype'),
         url('../../font/FC-Minimal-SemiBold-Italic-ver-110.woff2') format('woff2'),
         url('../../font/FC-Minimal-SemiBold-Italic-ver-110.woff') format('woff'),
         url('../../font/FC-Minimal-SemiBold-Italic-ver-110.ttf')  format('truetype'),
         url('../../font/FC-Minimal-SemiBold-Italic-ver-110.svg#FC Minimal') format('svg');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}
@font-face {
    /*font-family: 'fc_minimalbold';*/
    font-family: 'FC Minimal';
    src: url('../../font/FC-Minimal-Bold-ver-110.eot');
    src: url('../../font/FC-Minimal-Bold-ver-110.eot?#iefix') format('embedded-opentype'),
         url('../../font/FC-Minimal-Bold-ver-110.woff2') format('woff2'),
         url('../../font/FC-Minimal-Bold-ver-110.woff') format('woff'),
         url('../../font/FC-Minimal-Bold-ver-110.ttf')  format('truetype'),
         url('../../font/FC-Minimal-Bold-ver-110.svg#FC Minimal') format('svg');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    /*font-family: 'fc_minimalbold_italic';*/
    font-family: 'FC Minimal';
    src: url('../../font/FC-Minimal-Bold-Italic-ver-110.eot');
    src: url('../../font/FC-Minimal-Bold-Italic-ver-110.eot?#iefix') format('embedded-opentype'),
         url('../../font/FC-Minimal-Bold-Italic-ver-110.woff2') format('woff2'),
         url('../../font/FC-Minimal-Bold-Italic-ver-110.woff') format('woff'),
         url('../../font/FC-Minimal-Bold-Italic-ver-110.ttf')  format('truetype'),
         url('../../font/FC-Minimal-Bold-Italic-ver-110.svg#FC Minimal') format('svg');
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}
@font-face {
    /*font-family: 'fc_minimalextrabold';*/
    font-family: 'FC Minimal';
    src: url('../../font/FC-Minimal-ExtraBold-ver-110.eot');
    src: url('../../font/FC-Minimal-ExtraBold-ver-110.eot?#iefix') format('embedded-opentype'),
         url('../../font/FC-Minimal-ExtraBold-ver-110.woff2') format('woff2'),
         url('../../font/FC-Minimal-ExtraBold-ver-110.woff') format('woff'),
         url('../../font/FC-Minimal-ExtraBold-ver-110.ttf')  format('truetype'),
         url('../../font/FC-Minimal-ExtraBold-ver-110.svg#FC Minimal') format('svg');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}
@font-face {
    /*font-family: 'fc_minimalextrabold_italic';*/
    font-family: 'FC Minimal';
    src: url('../../font/FC-Minimal-ExtraBold-Italic-ver-110.eot');
    src: url('../../font/FC-Minimal-ExtraBold-Italic-ver-110.eot?#iefix') format('embedded-opentype'),
         url('../../font/FC-Minimal-ExtraBold-Italic-ver-110.woff2') format('woff2'),
         url('../../font/FC-Minimal-ExtraBold-Italic-ver-110.woff') format('woff'),
         url('../../font/FC-Minimal-ExtraBold-Italic-ver-110.ttf')  format('truetype'),
         url('../../font/FC-Minimal-ExtraBold-Italic-ver-110.svg#FC Minimal') format('svg');
    font-weight: 800;
    font-style: italic;
    font-display: swap;
}
@font-face {
    /*font-family: 'fc_minimalblack';*/
    font-family: 'FC Minimal';
    src: url('../../font/FC-Minimal-Black-ver-110.eot');
    src: url('../../font/FC-Minimal-Black-ver-110.eot?#iefix') format('embedded-opentype'),
         url('../../font/FC-Minimal-Black-ver-110.woff2') format('woff2'),
         url('../../font/FC-Minimal-Black-ver-110.woff') format('woff'),
         url('../../font/FC-Minimal-Black-ver-110.ttf')  format('truetype'),
         url('../../font/FC-Minimal-Black-ver-110.svg#FC Minimal') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}
@font-face {
    /*font-family: 'fc_minimalblack_italic';*/
    font-family: 'FC Minimal';
    src: url('../../font/FC-Minimal-Black-Italic-ver-110.eot');
    src: url('../../font/FC-Minimal-Black-Italic-ver-110.eot?#iefix') format('embedded-opentype'),
         url('../../font/FC-Minimal-Black-Italic-ver-110.woff2') format('woff2'),
         url('../../font/FC-Minimal-Black-Italic-ver-110.woff') format('woff'),
         url('../../font/FC-Minimal-Black-Italic-ver-110.ttf')  format('truetype'),
         url('../../font/FC-Minimal-Black-Italic-ver-110.svg#FC Minimal') format('svg');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}
body {

    font-family: "FC Minimal" !important;
}