<!-- start: Footer Section -->

<footer class="tj-footer-section h5-footer h8-footer">
    <div class="h6-footer-logo-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="h8-footer-logo-wrapper">
                        <div class="h6-footer-logo h8-footer-logo">
                            <a href="index.html" class="wow fadeInUp" data-wow-delay=".3s">
                                <img src="assets/images/logos/aac-light-lg-logo.svg" alt="AAC logo">
                            </a>
                        </div>
                        <div class="h8-footer-logo-content wow fadeInUp" data-wow-delay=".4s">
                            <div class="footer-text">
                                <p>meet the needs <br class="d-lg-none d-md-block d-none">of automotive industry</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-main-area">
        <div class="container">
            <div class="row justify-content-between footer-gap">
                <div class="col-12">
                    <div class="footer-widget h6-footer-contact wow fadeInUp" data-wow-delay=".3s">
                        <h5 class="h6-hero-history-title">ติดต่อเรา</h5>
                        <div class="row md-gap">
                            <div class="col-lg-4">
                                <div class="footer-contact-info">
                                    <div class="contact-item">
                                        <p>บริษัท ออโตโมทีฟ เอเชียติ๊ก (ประเทศไทย) จำกัด</p>
                                    </div>
                                    <div class="contact-item align-items-start">
                                        <span class="material-symbols-rounded">distance</span>
                                        <p>เลขที่ 46 อาคารรุ่งโรจน์ธนกุล ชั้น 14 ถนนรัชดาภิเษก แขวงห้วยขวาง เขตห้วยขวาง
                                            กรุงเทพมหานคร 10310</p>
                                    </div>
                                    <div class="contact-item">
                                        <span class="material-symbols-rounded">call</span>
                                        <a href="tel:0-2494-3800">0-2494-3800 (50 คู่สาย)</a>
                                    </div>
                                    <div class="contact-item">
                                        <span class="material-symbols-rounded">mail</span>
                                        <a href="mailto:info@aac.co.th">info@aac.co.th</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="footer-contact-info">
                                    <div class="contact-item">
                                        <p>Tru Automotive (M) Sdn. Bhd. <br>(formerly known as TRW Asiatic (M) Sdn.
                                            Bhd.)</p>
                                    </div>
                                    <div class="contact-item align-items-start">
                                        <span class="material-symbols-rounded">distance</span>
                                        <p>No. 22, Jalan Astaka U8/84, Seksyen U8, Bukit Jelutong Industrial Park,40150
                                            Shah Alam, Selangor, Malaysia.</p>
                                    </div>
                                    <div class="contact-item">
                                        <span class="material-symbols-rounded">call</span>
                                        <a href="tel:60-3-78458700">60-3-78458700</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="footer-contact-info">
                                    <div class="contact-item">
                                        <p>บริษัท อัลไลอันซ์ เกียร์ แอนด์ พาร์ท โซลูชั่นส์ จำกัด</p>
                                    </div>
                                    <div class="contact-item align-items-start">
                                        <span class="material-symbols-rounded">distance</span>
                                        <p>เลขที่ 49/43 หมู่ 12 ถนนกิ่งแก้ว ซอย 3/1 ตำบลราชาเทวะ อำเภอ บางพลี
                                            จ.สมุทรปราการ 10540</p>
                                    </div>
                                    <div class="contact-item">
                                        <span class="material-symbols-rounded">call</span>
                                        <a href="tel:099-099-5966">099-099-5966</a>
                                    </div>
                                    <div class="contact-item">
                                        <span class="material-symbols-rounded">mail</span>
                                        <a href="mailto:ags-center@agsc.co.th">ags-center@agsc.co.th</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-8 col-12">
                    <div class="footer-widget h6-footer-contact wow fadeInUp" data-wow-delay=".4s">
                        <h5 class="h6-hero-history-title">Social Media</h5>
                        <div class="footer-contact-info">
                            <div class="contact-item social align-items-start">
                                <span class="social-icon"><img src="assets/images/icons/social/facebook.svg"
                                        alt="facebook"></span>
                                <ul>
                                    <li><a href="javascript:void(0)">TRW Thailand</a></li>
                                    <li><a href="javascript:void(0)">STP Thailand</a></li>
                                    <li><a href="javascript:void(0)">AARON Thailand</a></li>
                                    <li><a href="javascript:void(0)">Monroe Thailand</a></li>
                                    <li><a href="javascript:void(0)">WiperHub-ใบปัดน้ำฝน</a></li>
                                    <li><a href="javascript:void(0)">กรอง Speedmate</a></li>
                                    <li><a href="javascript:void(0)">AUTO LIGHT หลอดไฟสำหรับรถยนต์</a></li>
                                    <li><a href="javascript:void(0)">Wynn's RainX Thailand</a></li>
                                    <li><a href="javascript:void(0)">ศูนย์บริการรถยนต์ IFIX</a></li>
                                    <li><a href="javascript:void(0)">AGS ซ่อมเกียร์สิบล้อและอะไหล่ ZF</a></li>
                                </ul>
                            </div>
                            <div class="contact-item social">
                                <span class="social-icon"><img src="assets/images/icons/social/youtube.svg"
                                        alt="youtube"></span>
                                <a href="javascript:void(0)">Tru Automotive</a>
                            </div>
                            <div class="contact-item social">
                                <span class="social-icon"><img src="assets/images/icons/social/tiktok.svg"
                                        alt="tiktok"></span>
                                <a href="javascript:void(0)">Tru Automotive</a>
                            </div>
                            <div class="contact-item social">
                                <span class="social-icon"><img src="assets/images/icons/social/lemon8.svg"
                                        alt="lemon8"></span>
                                <a href="javascript:void(0)">Tru Automotive</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-12">
                    <div class="footer-widget h6-footer-contact wow fadeInUp" data-wow-delay=".5s">
                        <h5 class="h6-hero-history-title">แผนผังเว็บไซต์</h5>
                        <div class="row">
                            <div class="col-6">
                                <div class="footer-contact-info">
                                    <div class="contact-item site-map">
                                        <a href="javascript:void(0)">เกี่ยวกับเรา</a>
                                        <a href="javascript:void(0)">นักลงทุนสัมพันธ์</a>
                                        <a href="javascript:void(0)">การพัฒนาที่ยั่งยืน</a>
                                        <a href="javascript:void(0)">การกำกับดูแลกิจการ</a>
                                        <a href="javascript:void(0)">ข่าวสารและกิจกรรม</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="footer-contact-info">
                                    <div class="contact-item site-map">
                                        <a href="javascript:void(0)">ร่วมงานกับเรา</a>
                                        <a href="javascript:void(0)">ตัวแทนจำหน่าย</a>
                                        <a href="javascript:void(0)">สนใจร่วมธุรกิจกับเรา</a>
                                        <a href="javascript:void(0)">ติดต่อเรา</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tj-copyright-area-2">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="copyright-content-area">
                        <div class="copyright-text">
                            <p>&copy; สงวนลิขสิทธิ์ พ.ศ. 2568 บริษัท ออโตโมทีฟ เอเชียติ๊ก (ประเทศไทย) จำกัด</p>
                        </div>
                        <div class="copyright-menu">
                            <ul>
                                <li><a href="javascript:void(0)">ข้อกำหนดและเงื่อนไข</a></li>
                                <li><a href="javascript:void(0)">นโยบายคุ้มครองข้อมูลส่วนบุคคล</a></li>
                                <li><a href="javascript:void(0)">นโยบายการใช้งานคุกกี้</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- end: Footer Section -->