<!-- Mega Menu Content Template - English -->
<div class="mega-menu-pages-single">
    <div class="mega-menu-pages-single-inner">
        <div class="mega-menu-list">
            <a href="javascript:void(0)" class="mega-menu-main-link active" data-menu-id="about">About Us</a>
            <a href="javascript:void(0)" class="mega-menu-main-link" data-menu-id="business">Our Business</a>
            <a href="sustainability-en.html" class="mega-menu-main-link">Sustainability</a>
            <a href="javascript:void(0)" class="mega-menu-main-link" data-menu-id="governance">Corporate Governance</a>
            <a href="investor-en.html" class="mega-menu-main-link">Investor Relations</a>
            <a href="javascript:void(0)" class="mega-menu-main-link" data-menu-id="newsroom">Newsroom</a>
            <a href="career-en.html" class="mega-menu-main-link">Job Opportunity</a>
            <a href="javascript:void(0)" class="mega-menu-main-link" data-menu-id="dealer">Dealers</a>
            <a href="javascript:void(0)" class="mega-menu-main-link" data-menu-id="inquiry">Information Request</a>
            <a href="contact-en.html" class="mega-menu-main-link">Contact Us</a>
        </div>
    </div>
</div>
    
    <!-- About Us -->
    <div class="mega-menu-pages-single submenu active" data-submenu-id="about">
        <div class="mega-menu-pages-single-inner">
            <div>
                <h6 class="mega-menu-title">About Us</h6>
                <p class="mega-menu-desc">Learn about AAC's history, vision, and values that form the foundation of our success</p>
            </div>
            <div class="mega-menu-list">
                <a href="javascript:void(0)">Chairman's Statement</a>
                <a href="history-en.html">History Profile</a>
                <a href="javascript:void(0)">Vision & Mission</a>
                <a href="javascript:void(0)">The Board of Directors</a>
                <a href="javascript:void(0)">Shareholder Structure</a>
                <a href="javascript:void(0)">Organization Chart</a>
                <a href="javascript:void(0)">Business Operations</a>
                <a href="javascript:void(0)">Awards</a>
            </div>
        </div>
        <div class="mega-menu-pages-single-inner shortcut">
            <div class="feature-box">
                <div class="feature-images">
                    <img src="assets/images/header/header-image-1.webp" alt="The journey to becoming AAC today - Explore our key milestones and transformations">
                </div>
                <div class="feature-content">
                    <h2 class="title">The journey to becoming AAC today <br>Explore our key milestones and transformations</h2>
                    <a class="tji-icon-btn" href="javascript:void(0)">
                        <i class="tji-arrow-right-long"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- Our Business -->
    <div class="mega-menu-pages-single submenu" data-submenu-id="business">
        <div class="mega-menu-pages-single-inner">
            <div>
                <h6 class="mega-menu-title">Our Business</h6>
                <p class="mega-menu-desc">Overview of our group's business operations, consisting of 4 subsidiary companies</p>
            </div>
            <div class="mega-menu-list">
                <a href="javascript:void(0)">AAC : Automotive Asiatic (Thailand) Co., Ltd.</a>
                <a href="javascript:void(0)">TRU : Tru Automotive Co., Ltd.</a>
                <a href="javascript:void(0)">TACM : Tru Automotive (M) Sdn. Bhd.</a>
                <a href="javascript:void(0)">AGS : Alliance Gear & Parts Solutions Co., Ltd.</a>
            </div>
        </div>
        <div class="mega-menu-pages-single-inner shortcut">
            <div class="feature-box">
                <div class="feature-images">
                    <img src="assets/images/header/header-image-1.webp" alt="Our Business">
                </div>
                <div class="feature-content">
                    <h2 class="title">Discover our identity, vision, and operational approach in greater detail</h2>
                    <a class="tji-icon-btn" href="javascript:void(0)">
                        <i class="tji-arrow-right-long"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- Corporate Governance -->
    <div class="mega-menu-pages-single submenu" data-submenu-id="governance">
        <div class="mega-menu-pages-single-inner">
            <div>
                <h6 class="mega-menu-title">Corporate Governance</h6>
                <p class="mega-menu-desc">Principles of good corporate governance, transparency, ethics, and responsibility to all stakeholders</p>
            </div>
            <div class="mega-menu-list">
                <a href="javascript:void(0)">Corporate Governance</a>
                <a href="javascript:void(0)">Anti-Corruption</a>
                <a href="javascript:void(0)">ESG & Activities</a>
                <a href="javascript:void(0)">Other Documents</a>
            </div>
        </div>
        <div class="mega-menu-pages-single-inner shortcut">
            <div class="feature-box">
                <div class="feature-images">
                    <img src="assets/images/header/header-image-1.webp" alt="Corporate Governance">
                </div>
                <div class="feature-content">
                    <h2 class="title">Learn about our transparent and responsible management principles</h2>
                    <a class="tji-icon-btn" href="javascript:void(0)">
                        <i class="tji-arrow-right-long"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- Newsroom -->
    <div class="mega-menu-pages-single submenu" data-submenu-id="newsroom">
        <div class="mega-menu-pages-single-inner">
            <div>
                <h6 class="mega-menu-title">Newsroom</h6>
                <p class="mega-menu-desc">Central hub for news, activities, and corporate communications to keep you updated on our latest developments</p>
            </div>
            <div class="mega-menu-list">
                <a href="javascript:void(0)">SET Announcements</a>
                <a href="javascript:void(0)">efinanceThai</a>
                <a href="javascript:void(0)">Public Relation</a>
                <a href="javascript:void(0)">Event</a>
                <a href="javascript:void(0)">News Clipping</a>
            </div>
        </div>
        <div class="mega-menu-pages-single-inner shortcut">
            <div class="feature-box">
                <div class="feature-images">
                    <img src="assets/images/header/header-image-1.webp" alt="Newsroom">
                </div>
                <div class="feature-content">
                    <h2 class="title">Stay updated with our latest news and developments from efinanceThai</h2>
                    <a class="tji-icon-btn" href="javascript:void(0)">
                        <i class="tji-arrow-right-long"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- Dealers -->
    <div class="mega-menu-pages-single submenu" data-submenu-id="dealer">
        <div class="mega-menu-pages-single-inner">
            <div>
                <h6 class="mega-menu-title">Dealers</h6>
                <p class="mega-menu-desc">Officially appointed dealers to provide convenient and reliable access to our products and services</p>
            </div>
            <div class="mega-menu-list">
                <a href="javascript:void(0)">Dealers</a>
                <a href="javascript:void(0)">Business Partner</a>
            </div>
        </div>
        <div class="mega-menu-pages-single-inner shortcut">
            <div class="feature-box">
                <div class="feature-images">
                    <img src="assets/images/header/header-image-1.webp" alt="Dealers">
                </div>
                <div class="feature-content">
                    <h2 class="title">Find our dealers for easier access to products and services</h2>
                    <a class="tji-icon-btn" href="javascript:void(0)">
                        <i class="tji-arrow-right-long"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- Inquiry -->
    <div class="mega-menu-pages-single submenu" data-submenu-id="inquiry">
        <div class="mega-menu-pages-single-inner">
            <div>
                <h6 class="mega-menu-title">Information Request</h6>
                <p class="mega-menu-desc">Contact channels for inquiries, advice, or assistance from our team</p>
            </div>
            <div class="mega-menu-list">
                <a href="javascript:void(0)">Inquiry Form</a>
                <a href="javascript:void(0)">E-mail Alert</a>
                <a href="javascript:void(0)">FAQs</a>
                <a href="javascript:void(0)">Channel Complaints</a>
            </div>
        </div>
        <div class="mega-menu-pages-single-inner shortcut">
            <div class="feature-box">
                <div class="feature-images">
                    <img src="assets/images/header/header-image-1.webp" alt="Inquiry">
                </div>
                <div class="feature-content">
                    <h2 class="title">Contact us for more information or advice from our team</h2>
                    <a class="tji-icon-btn" href="javascript:void(0)">
                        <i class="tji-arrow-right-long"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
