<li class="has-dropdown language-switcher"><a href="javascript:void(0)">TH</a>
    <ul class="sub-menu">
        <li><a href="javascript:void(0)">TH</a></li>
        <li><a href="javascript:void(0)">EN</a></li>
    </ul>
</li>
<li class="has-dropdown btn-menu"><a href="javascript:void(0)">เมนูอื่นๆ <span class="material-symbols-rounded">notes</span></a>
    <ul class="sub-menu header__mega-menu mega-menu mega-menu-pages">
        <li>
            <div class="mega-menu-wrapper">
                <div class="mega-menu-pages-single">
                    <div class="mega-menu-pages-single-inner">
                        <div class="mega-menu-list">
                            <a href="#">เกี่ยวกับเรา</a>
                            <a href="#">ธุรกิจของเรา</a>
                            <a href="#">การพัฒนาที่ยั่งยืน</a>
                            <a href="#">การกำกับดูแลกิจการ</a>
                            <a href="#">นักลงทุนสัมพันธ์</a>
                            <a href="#">ห้องข่าวประชาสัมพันธ์</a>
                            <a href="#">ร่วมงานกับเรา</a>
                            <a href="#">ตัวแทนจำหน่าย</a>
                            <a href="#">สอบถามข้อมูล</a>
                            <a href="#">ติดต่อเรา</a>
                        </div>
                    </div>
                </div>
                <div class="mega-menu-pages-single submenu">
                    <div class="mega-menu-pages-single-inner">
                        <div>
                            <h6 class="mega-menu-title">เกี่ยวกับเรา</h6>
                            <p class="mega-menu-desc">ทำความรู้จักกับประวัติ วิสัยทัศน์ และค่านิยมของ AAC ที่เป็นรากฐานความสำเร็จของเรา</p>
                        </div>
                        <div class="mega-menu-list">
                            <a href="#">สารจากประธานกรรมการ</a>
                            <a href="#">ประวัติความเป็นมา</a>
                            <a href="#">วิสัยทัศน์ & พันธกิจ</a>
                            <a href="#">คณะกรรมการและคณะผู้บริหาร</a>
                            <a href="#">โครงสร้างผู้ถือหุ้น</a>
                            <a href="#">โครงสร้างองค์กร</a>
                            <a href="#">ลักษณะการประกอบธุรกิจ</a>
                            <a href="#">รางวัล</a>
                        </div>
                    </div>
                    <div class="mega-menu-pages-single-inner shortcut">
                        <div class="feature-box">
                            <div class="feature-images">
                                <img src="assets/images/header/header-image-1.webp" alt="กว่าจะมาเป็น AAC ในปัจจุบัน ย้อนดูการเปลี่ยนแปลงและพัฒนาการที่สำคัญ">
                            </div>
                            <div class="feature-content">
                                <h2 class="title">กว่าจะมาเป็น AAC ในปัจจุบัน <br>ย้อนดูการเปลี่ยนแปลงและพัฒนาการที่สำคัญ</h2>
                                <a class="tji-icon-btn" href="javascript:void(0)">
                                    <i class="tji-arrow-right-long"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</li>
