<li class="has-dropdown language-switcher"><a href="javascript:void(0)">EN</a>
    <ul class="sub-menu">
        <li><a href="javascript:void(0)">TH</a></li>
        <li><a href="javascript:void(0)">EN</a></li>
    </ul>
</li>
<li class="has-dropdown btn-menu"><a href="javascript:void(0)">More <span class="material-symbols-rounded">notes</span></a>
    <ul class="sub-menu header__mega-menu mega-menu mega-menu-pages">
        <li>
            <div class="mega-menu-wrapper">
                <div class="mega-menu-pages-single">
                    <div class="mega-menu-pages-single-inner">
                        <div class="mega-menu-list">
                            <a href="#">About Us</a>
                            <a href="#">Our Business</a>
                            <a href="#">Sustainability</a>
                            <a href="#">Corporate Governance</a>
                            <a href="#">Investor Relations</a>
                            <a href="#">Newsroom</a>
                            <a href="#">Careers</a>
                            <a href="#">Dealers</a>
                            <a href="#">Inquiry</a>
                            <a href="#">Contact Us</a>
                        </div>
                    </div>
                </div>
                <div class="mega-menu-pages-single submenu">
                    <div class="mega-menu-pages-single-inner">
                        <div>
                            <h6 class="mega-menu-title">About Us</h6>
                            <p class="mega-menu-desc">Learn about AAC's history, vision, and values that form the foundation of our success</p>
                        </div>
                        <div class="mega-menu-list">
                            <a href="#">Message from Chairman</a>
                            <a href="#">Our History</a>
                            <a href="#">Vision & Mission</a>
                            <a href="#">Board of Directors & Management</a>
                            <a href="#">Shareholder Structure</a>
                            <a href="#">Organization Structure</a>
                            <a href="#">Nature of Business</a>
                            <a href="#">Awards</a>
                        </div>
                    </div>
                    <div class="mega-menu-pages-single-inner shortcut">
                        <div class="feature-box">
                            <div class="feature-images">
                                <img src="assets/images/header/header-image-1.webp" alt="The journey to becoming AAC today - Explore our key milestones and transformations">
                            </div>
                            <div class="feature-content">
                                <h2 class="title">The journey to becoming AAC today <br>Explore our key milestones and transformations</h2>
                                <a class="tji-icon-btn" href="javascript:void(0)">
                                    <i class="tji-arrow-right-long"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</li>
