<li class="menu-desktop"><a href="javascript:void(0)">เกี่ยวกับเรา</a></li>
<li class="menu-desktop"><a href="javascript:void(0)">ธุรกิจของเรา</a></li>
<li class="menu-desktop"><a href="javascript:void(0)">การพัฒนาที่ยั่งยืน</a></li>
<li class="menu-desktop"><a href="javascript:void(0)">การกำกับดูแลกิจการ</a></li>
<li class="menu-desktop"><a href="javascript:void(0)">นักลงทุนสัมพันธ์</a></li>
<li class="menu-desktop"><a href="javascript:void(0)">ห้องข่าวประชาสัมพันธ์</a></li>
<li class="menu-desktop"><a href="javascript:void(0)">ร่วมงานกับเรา</a></li>
<li class="menu-desktop"><a href="javascript:void(0)">ติดต่อเรา</a></li>

<li class="has-dropdown menu-mobile"><a href="javascript:void(0)">เกี่ยวกับเรา</a>
    <ul class="sub-menu">
        <li><a href="javascript:void(0)">สารจากประธานกรรมการ</a></li>
        <li><a href="history.html">ประวัติความเป็นมา</a></li>
        <li><a href="javascript:void(0)">วิสัยทัศน์และพันธกิจ</a></li>
        <li><a href="javascript:void(0)">คณะกรรมการและคณะผู้บริหาร</a></li>
        <li><a href="javascript:void(0)">โครงสร้างผู้ถือหุ้น</a></li>
        <li><a href="javascript:void(0)">โครงสร้างองค์กร</a></li>
        <li><a href="javascript:void(0)">ลักษณะการประกอบธุรกิจ</a></li>
        <li><a href="javascript:void(0)">รางวัล</a></li>
    </ul>
</li>
<li class="has-dropdown menu-mobile"><a href="javascript:void(0)">ธุรกิจของเรา</a>
    <ul class="sub-menu">
        <li><a href="javascript:void(0)">TRU</a></li>
        <li><a href="javascript:void(0)">AAC</a></li>
        <li><a href="javascript:void(0)">AGS</a></li>
        <li><a href="javascript:void(0)">TACM</a></li>
    </ul>
</li>
<li class="menu-mobile"><a href="javascript:void(0)">การพัฒนาที่ยั่งยืน</a></li>
<li class="has-dropdown menu-mobile"><a href="javascript:void(0)">การกำกับดูแลกิจการ</a>
    <ul class="sub-menu">
        <li><a href="javascript:void(0)">การกำกับดูแลกิจการที่ดี</a></li>
        <li><a href="javascript:void(0)">การต่อต้านทุจริตและคอร์รัปชัน</a></li>
        <li><a href="javascript:void(0)">ความรับผิดชอบต่อสังคมและกิจกรรมต่างๆ</a></li>
        <li><a href="javascript:void(0)">นโยบายและเอกสารอื่นๆ ที่เกี่ยวข้อง</a></li>
    </ul>
</li>
<li class="menu-mobile"><a href="javascript:void(0)">นักลงทุนสัมพันธ์</a></li>
<li class="has-dropdown menu-mobile"><a href="javascript:void(0)">ห้องข่าวประชาสัมพันธ์</a>
    <ul class="sub-menu">
        <li><a href="javascript:void(0)">ประกาศจากตลาดหลักทรัพย์</a></li>
        <li><a href="javascript:void(0)">สำนักข่าว efinanceThai</a></li>
        <li><a href="javascript:void(0)">ห้องข่าวประชาสัมพันธ์</a></li>
        <li><a href="javascript:void(0)">ข่าวเกี่ยวกับ Event</a></li>
        <li><a href="javascript:void(0)">ข่าวจากหนังสือพิมพ์</a></li>
    </ul>
</li>
<li class="menu-mobile"><a href="javascript:void(0)">ร่วมงานกับเรา</a></li>
<li class="has-dropdown menu-mobile"><a href="javascript:void(0)">ตัวแทนจำหน่าย</a>
    <ul class="sub-menu">
        <li><a href="javascript:void(0)">ตัวแทนจำหน่าย</a></li>
        <li><a href="javascript:void(0)">สนใจร่วมธุรกิจกับเรา</a></li>
    </ul>
</li>
<li class="has-dropdown menu-mobile"><a href="javascript:void(0)">สอบถามข้อมูล</a>
    <ul class="sub-menu">
        <li><a href="javascript:void(0)">สอบถามข้อมูล</a></li>
        <li><a href="javascript:void(0)">รับข่าวสารทางอีเมล</a></li>
        <li><a href="javascript:void(0)">คำถามที่ถูกถามบ่อย</a></li>
        <li><a href="javascript:void(0)">ช่องทางรับเรื่องร้องเรียน</a></li>
    </ul>
</li>
<li class="menu-mobile"><a href="javascript:void(0)">ติดต่อเรา</a></li>
