<li class="menu-desktop"><a href="javascript:void(0)">About Us</a></li>
<li class="menu-desktop"><a href="javascript:void(0)">Our Business</a></li>
<li class="menu-desktop"><a href="javascript:void(0)">Sustainability</a></li>
<li class="menu-desktop"><a href="javascript:void(0)">Corporate Governance</a></li>
<li class="menu-desktop"><a href="javascript:void(0)">Investor Relations</a></li>
<li class="menu-desktop"><a href="javascript:void(0)">Newsroom</a></li>
<li class="menu-desktop"><a href="javascript:void(0)">Job Opportunity</a></li>
<li class="menu-desktop"><a href="javascript:void(0)">Contact Us</a></li>

<li class="has-dropdown menu-mobile"><a href="javascript:void(0)">About Us</a>
    <ul class="sub-menu">
        <li><a href="javascript:void(0)">Chairman's Statement</a></li>
        <li><a href="history-en.html">History Profile</a></li>
        <li><a href="javascript:void(0)">Vision & Mission</a></li>
        <li><a href="javascript:void(0)">The Board of Directors</a></li>
        <li><a href="javascript:void(0)">Shareholder Structure</a></li>
        <li><a href="javascript:void(0)">Organization Chart</a></li>
        <li><a href="javascript:void(0)">Business Operation</a></li>
        <li><a href="javascript:void(0)">Awards</a></li>
    </ul>
</li>
<li class="has-dropdown menu-mobile"><a href="javascript:void(0)">Our Business</a>
    <ul class="sub-menu">
        <li><a href="javascript:void(0)">TRU</a></li>
        <li><a href="javascript:void(0)">AAC</a></li>
        <li><a href="javascript:void(0)">AGS</a></li>
        <li><a href="javascript:void(0)">TACM</a></li>
    </ul>
</li>
<li class="menu-mobile"><a href="javascript:void(0)">Sustainability</a></li>
<li class="has-dropdown menu-mobile"><a href="javascript:void(0)">Corporate Governance</a>
    <ul class="sub-menu">
        <li><a href="javascript:void(0)">Corporate Governance</a></li>
        <li><a href="javascript:void(0)">Anti-Corruption</a></li>
        <li><a href="javascript:void(0)">ESG & Activities</a></li>
        <li><a href="javascript:void(0)">Other Document</a></li>
    </ul>
</li>
<li class="menu-mobile"><a href="javascript:void(0)">Investor Relations</a></li>
<li class="has-dropdown menu-mobile"><a href="javascript:void(0)">Newsroom</a>
    <ul class="sub-menu">
        <li><a href="javascript:void(0)">SET Announcements</a></li>
        <li><a href="javascript:void(0)">efinanceThai</a></li>
        <li><a href="javascript:void(0)">Public Relation</a></li>
        <li><a href="javascript:void(0)">Event</a></li>
        <li><a href="javascript:void(0)">News Clipping</a></li>
    </ul>
</li>
<li class="menu-mobile"><a href="javascript:void(0)">Job Opportunity</a></li>
<li class="has-dropdown menu-mobile"><a href="javascript:void(0)">Dealers</a>
    <ul class="sub-menu">
        <li><a href="javascript:void(0)">Dealers</a></li>
        <li><a href="javascript:void(0)">Business Partner</a></li>
    </ul>
</li>
<li class="has-dropdown menu-mobile"><a href="javascript:void(0)">Information Request</a>
    <ul class="sub-menu">
        <li><a href="javascript:void(0)">Inquiry Form</a></li>
        <li><a href="javascript:void(0)">E-mail Alert</a></li>
        <li><a href="javascript:void(0)">FAQs</a></li>
        <li><a href="javascript:void(0)">Channel Complaints</a></li>
    </ul>
</li>
<li class="menu-mobile"><a href="javascript:void(0)">Contact Us</a></li>
