<li class="has-dropdown language-switcher"><a href="javascript:void(0)">EN</a>
    <ul class="sub-menu">
        <li><a href="javascript:void(0)">TH</a></li>
        <li><a href="javascript:void(0)">EN</a></li>
    </ul>
</li>
<li class="has-dropdown btn-menu"><a href="javascript:void(0)">More <span class="material-symbols-rounded">notes</span></a>
    <ul class="sub-menu header__mega-menu mega-menu mega-menu-pages">
        <li>
            <div class="mega-menu-wrapper">
                <div class="mega-menu-pages-single">
                    <div class="mega-menu-pages-single-inner">
                        <div class="mega-menu-list">
                            <a href="index-en.html">Back to Main Website</a>
                            <a href="javascript:void(0)">IR Calendar</a>
                            <a href="javascript:void(0)">Investment Information</a>
                            <a href="javascript:void(0)">Publications</a>
                            <a href="javascript:void(0)">Shareholder Information</a>
                            <a href="javascript:void(0)">Stock Information</a>
                            <a href="javascript:void(0)">Contact IR</a>
                        </div>
                    </div>
                </div>
                <div class="mega-menu-pages-single submenu">
                    <div class="mega-menu-pages-single-inner">
                        <div>
                            <h6 class="mega-menu-title">Investment Information</h6>
                            <p class="mega-menu-desc">Essential information for AAC investors and shareholders</p>
                        </div>
                        <div class="mega-menu-list">
                            <a href="javascript:void(0)">General Information</a>
                            <a href="javascript:void(0)">Shareholder Structure</a>
                            <a href="javascript:void(0)">Board of Directors</a>
                            <a href="javascript:void(0)">Management Team</a>
                            <a href="javascript:void(0)">Securities Information</a>
                        </div>
                    </div>
                    <div class="mega-menu-pages-single-inner shortcut">
                        <div class="feature-box">
                            <div class="feature-images">
                                <img src="assets/images/header/header-image-1.webp" alt="Investor Information">
                            </div>
                            <div class="feature-content">
                                <h2 class="title">Stay updated with AAC's<br>performance and information</h2>
                                <a class="tji-icon-btn" href="javascript:void(0)">
                                    <i class="tji-arrow-right-long"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</li>
