<li class="menu-desktop back-index">
    <a href="index-en.html"><span class="material-symbols-outlined">keyboard_arrow_left</span> Go to Corporate Site</a>
    <span>|</span>
</li>
<li class="menu-desktop"><a href="investor-en.html">IR Home</a></li>
<li class="menu-desktop"><a href="javascript:void(0)">Financial Information</a></li>
<li class="menu-desktop"><a href="javascript:void(0)">Publications</a></li>
<li class="menu-desktop"><a href="javascript:void(0)">Shareholder Information</a></li>
<li class="menu-desktop"><a href="javascript:void(0)">Stock Information</a></li>
<li class="menu-desktop"><a href="javascript:void(0)">IR Contact</a></li>


<li class="menu-mobile mobile-back-index">
    <a href="index-en.html"><span class="material-symbols-outlined">keyboard_arrow_left</span> Go to Corporate Site</a>
</li>
<li class="menu-mobile"><a href="investor-en.html">IR HOME</a></li>
<li class="has-dropdown menu-mobile"><a href="javascript:void(0)">Financial Information</a>
    <ul class="sub-menu">
        <li><a href="javascript:void(0)">Financial Statement</a></li>
        <li><a href="javascript:void(0)">Financial Highlights</a></li>
        <li><a href="javascript:void(0)">MD&A</a></li>
        <li><a href="javascript:void(0)">Stock Health</a></li>
    </ul>
</li>
<li class="has-dropdown menu-mobile"><a href="javascript:void(0)">Publications</a>
    <ul class="sub-menu">
        <li><a href="javascript:void(0)">56-1 One Report</a></li>
        <li><a href="javascript:void(0)">Filling</a></li>
        <li><a href="javascript:void(0)">Resource Center</a></li>
    </ul>
</li>
<li class="has-dropdown menu-mobile"><a href="javascript:void(0)">Shareholder Information</a>
    <ul class="sub-menu">
        <li><a href="javascript:void(0)">General Meeting</a></li>
        <li><a href="javascript:void(0)">Major Shareholder</a></li>
        <li><a href="javascript:void(0)">Dividend Policy & Payment</a></li>
        <li><a href="javascript:void(0)">IR Calendar</a></li>
        <li><a href="javascript:void(0)">Webcast & Presentation</a></li>
        <li><a href="javascript:void(0)">Analyst Report</a></li>
        <li><a href="javascript:void(0)">Fact Sheet</a></li>
    </ul>
</li>
<li class="has-dropdown menu-mobile"><a href="javascript:void(0)">Stock Information</a>
    <ul class="sub-menu">
        <li><a href="javascript:void(0)">Stock Price</a></li>
        <li><a href="javascript:void(0)">Historical Price</a></li>
        <li><a href="javascript:void(0)">Investment Calculator</a></li>
    </ul>
</li>
<li class="menu-mobile"><a href="javascript:void(0)">IR Contact</a></li>
