<li class="menu-desktop back-index">
    <a href="index.html"><span class="material-symbols-outlined">keyboard_arrow_left</span> กลับสู่หน้าหลักเว็บไซต์</a>
    <span>|</span>
</li>
<li class="menu-desktop"><a href="investor.html">นักลงทุนสัมพันธ์</a></li>
<li class="menu-desktop"><a href="javascript:void(0)">ข้อมูลทางการเงิน</a></li>
<li class="menu-desktop"><a href="javascript:void(0)">เอกสารเผยแพร่</a></li>
<li class="menu-desktop"><a href="javascript:void(0)">ข้อมูลผู้ถือหุ้น</a></li>
<li class="menu-desktop"><a href="javascript:void(0)">ราคาหลักทรัพย์</a></li>
<li class="menu-desktop"><a href="javascript:void(0)">ติดต่อนักลงทุนสัมพันธ์</a></li>


<li class="menu-mobile mobile-back-index">
    <a href="index.html"><span class="material-symbols-outlined">keyboard_arrow_left</span> กลับสู่หน้าหลักเว็บไซต์</a>
</li>
<li class="menu-mobile"><a href="investor.html">หน้าหลักนักลงทุนสัมพันธ์</a></li>
<li class="has-dropdown menu-mobile"><a href="javascript:void(0)">ข้อมูลทางการเงิน</a>
    <ul class="sub-menu">
        <li><a href="javascript:void(0)">งบการเงิน</a></li>
        <li><a href="javascript:void(0)">ข้อมูลสำคัญทางการเงิน</a></li>
        <li><a href="javascript:void(0)">คำอธิบายและการวิเคราะห์</a></li>
        <li><a href="javascript:void(0)">สุขภาพหุ้น</a></li>
    </ul>
</li>
<li class="has-dropdown menu-mobile"><a href="javascript:void(0)">เอกสารเผยแพร่</a>
    <ul class="sub-menu">
        <li><a href="javascript:void(0)">แบบ 56-1 One Report</a></li>
        <li><a href="javascript:void(0)">หนังสือชี้ชวน</a></li>
        <li><a href="javascript:void(0)">ศูนย์รวมเอกสารเผยแพร่</a></li>
    </ul>
</li>
<li class="has-dropdown menu-mobile"><a href="javascript:void(0)">ข้อมูลผู้ถือหุ้น</a>
    <ul class="sub-menu">
        <li><a href="javascript:void(0)">การประชุมผู้ถือหุ้น</a></li>
        <li><a href="javascript:void(0)">โครงสร้างผู้ถือหุ้น</a></li>
        <li><a href="javascript:void(0)">นโยบายและประวัติการจ่ายเงินปันผล</a></li>
        <li><a href="javascript:void(0)">ปฏิทินกิจกรรมนักลงทุนสัมพันธ์</a></li>
        <li><a href="javascript:void(0)">ข้อมูลนำเสนอแบบมัลติมีเดีย</a></li>
        <li><a href="javascript:void(0)">บทวิเคราะห์</a></li>
        <li><a href="javascript:void(0)">สรุปข้อสนเทศ</a></li>
    </ul>
</li>
<li class="has-dropdown menu-mobile"><a href="javascript:void(0)">ข้อมูลราคาหลักทรัพย์</a>
    <ul class="sub-menu">
        <li><a href="javascript:void(0)">ราคาหลักทรัพย์ล่าสุด</a></li>
        <li><a href="javascript:void(0)">ราคาหลักทรัพย์ย้อนหลัง</a></li>
        <li><a href="javascript:void(0)">เครื่องคำนวณการลงทุน</a></li>
    </ul>
</li>
<li class="menu-mobile"><a href="javascript:void(0)">ติดต่อนักลงทุนสัมพันธ์</a></li>
