<li class="has-dropdown language-switcher"><a href="javascript:void(0)">TH</a>
    <ul class="sub-menu">
        <li><a href="javascript:void(0)">TH</a></li>
        <li><a href="javascript:void(0)">EN</a></li>
    </ul>
</li>
<li class="has-dropdown btn-menu"><a href="javascript:void(0)">เมนูอื่นๆ <span class="material-symbols-rounded">notes</span></a>
    <ul class="sub-menu header__mega-menu mega-menu mega-menu-pages">
        <li>
            <div class="mega-menu-wrapper">
                <div class="mega-menu-pages-single">
                    <div class="mega-menu-pages-single-inner">
                        <div class="mega-menu-list">
                            <a href="javascript:void(0)">ปฏิทินนักลงทุนสัมพันธ์</a>
                            <a href="javascript:void(0)">ข้อมูลสำหรับการลงทุน</a>
                            <a href="javascript:void(0)">เอกสารเผยแพร่</a>
                            <a href="javascript:void(0)">ข้อมูลผู้ถือหุ้น</a>
                            <a href="javascript:void(0)">ข้อมูลราคาหลักทรัพย์</a>
                            <a href="javascript:void(0)">ติดต่อนักลงทุนสัมพันธ์</a>
                        </div>
                    </div>
                </div>
                <div class="mega-menu-pages-single submenu">
                    <div class="mega-menu-pages-single-inner">
                        <div>
                            <h6 class="mega-menu-title">ข้อมูลสำหรับการลงทุน</h6>
                            <p class="mega-menu-desc">ข้อมูลสำคัญสำหรับนักลงทุนและผู้ถือหุ้น AAC</p>
                        </div>
                        <div class="mega-menu-list">
                            <a href="javascript:void(0)">ข้อมูลทั่วไป</a>
                            <a href="javascript:void(0)">โครงสร้างผู้ถือหุ้น</a>
                            <a href="javascript:void(0)">คณะกรรมการบริษัท</a>
                            <a href="javascript:void(0)">ผู้บริหาร</a>
                            <a href="javascript:void(0)">ข้อมูลหลักทรัพย์</a>
                        </div>
                    </div>
                    <div class="mega-menu-pages-single-inner shortcut">
                        <div class="feature-box">
                            <div class="feature-images">
                                <img src="assets/images/header/header-image-1.webp" alt="ข้อมูลสำหรับนักลงทุน">
                            </div>
                            <div class="feature-content">
                                <h2 class="title">ติดตามข้อมูลและผลการดำเนินงาน<br>ของ AAC อย่างต่อเนื่อง</h2>
                                <a class="tji-icon-btn" href="javascript:void(0)">
                                    <i class="tji-arrow-right-long"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</li>
