/*
Name: 			echart-bar
Version: 		1.0.0
*/

/*===================================================================
[Table of contents]

1. Echart

====================================================================*/

/*------------------------------------------------------------------
1. Echart
-------------------------------------------------------------------*/

div canvas {
    width: 100% !important;
}

@media (max-width: 575px) {
    div canvas {
        width: 100% !important;
    }

    #echart_2024 {
        height: 350px !important;
    }
}