/*
Name: 			echart-line
Version: 		1.0.0
*/

/*===================================================================
[Table of contents]

1. Echart

====================================================================*/

/*------------------------------------------------------------------
1. Echart
-------------------------------------------------------------------*/
#echart_line_2022 div {
    max-width: 1200px;
    width: 100% !important;
}
