 <!-- header of the page -->
 <header class="fixed-top main-header header-white transparent with-side-panel-ico" id="waituk-main-header">
    <div id="nav-section">
        <div class="bottom-header container mega-menus" id="mega-menus">
            <nav class="navbar navbar-toggleable-lg no-border-radius no-margin mega-menu-multiple"
                id="navbar-inner-container">
                <button type="button" class="navbar-toggler navbar-toggler-left" data-toggle="collapse"
                    data-target="#mega-menu">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a class="navbar-brand mr-auto m-sm-auto" href="index.html">
                    <div class="logo-on-header">
                        <img src="images/logo/header-logo.webp" alt="mud & hound">
                        <img src="images/logo/header-logo.webp" alt="mud & hound">
                    </div>
                </a>
                <div class="collapse navbar-collapse flex-row-reverse" id="mega-menu">
                    <ul class="nav navbar-nav wrap-card">
                        <li>
                            <a href="index.html" data-title="home">กลับหน้าหลัก</a>
                        </li>
                        <li>
                            <a href="index.html"
                                data-title="ir-page">หน้าหลักนักลงทุนสัมพันธ์</a>
                        </li>
                        <li class="dropdown right-dropdown" data-animation="fadeIn">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="index.html"
                                data-title="Home">ข้อมูลทางการเงิน</a>
                            <ul class="dropdown-menu no-border-radius">
                                <li class="dropdown dropdown-right dropdown-parent">
                                    <a class="sub-marker" href="#"> Left Sidebar</a>
                                    <ul class="dropdown-menu dropdown-menu-indent-sm no-border-radius">
                                        <li><a href="portfolio-left-sidebar-2-col.html"> 2 Column </a></li>
                                        <li><a href="portfolio-left-sidebar-3-col.html"> 3 Column </a></li>
                                        <li><a href="portfolio-left-sidebar-4-col.html"> 4 Column </a></li>
                                    </ul>
                                </li>
                                <li class="dropdown dropdown-left dropdown-parent">
                                    <a class="sub-marker" href="#"> Right Sidebar</a>
                                    <ul class="dropdown-menu dropdown-menu-indent-sm no-border-radius">
                                        <li><a href="portfolio-right-sidebar-2-col.html"> 2 Column </a></li>
                                        <li><a href="portfolio-right-sidebar-3-col.html"> 3 Column </a></li>
                                        <li><a href="portfolio-right-sidebar-4-col.html"> 4 Column </a></li>
                                    </ul>
                                </li>
                                <li><a href="portfolio-masonary.html"> Masonary </a></li>
                                <li><a href="portfolio-full-width.html"> Full Width </a></li>
                                <li><a href="portfolio-full-width-spaced.html"> Full Spaced</a></li>
                                <li><a href="portfolio-3-col.html"> Boxed </a></li>
                                <li><a href="portfolio-single.html"> Single V1 </a></li>
                                <li><a href="portfolio-single-v2.html"> Single V2 </a></li>
                                <li><a href="portfolio-single-v3.html"> Single V3 </a></li>
                            </ul>
                        </li>
                        <li class="dropdown right-dropdown" data-animation="fadeIn">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#"
                                data-title="Pages">ข้อมูลผู้ถืือหุ้น</a>
                            <ul class="dropdown-menu no-border-radius">
                                <li class="dropdown dropdown-left dropdown-parent">
                                    <a class="sub-marker" href="#"> Left Sidebar</a>
                                    <ul class="dropdown-menu dropdown-menu-indent-sm no-border-radius">
                                        <li><a href="portfolio-left-sidebar-2-col.html"> 2 Column </a></li>
                                        <li><a href="portfolio-left-sidebar-3-col.html"> 3 Column </a></li>
                                        <li><a href="portfolio-left-sidebar-4-col.html"> 4 Column </a></li>
                                    </ul>
                                </li>
                                <li class="dropdown dropdown-left dropdown-parent">
                                    <a class="sub-marker" href="#"> Right Sidebar</a>
                                    <ul class="dropdown-menu dropdown-menu-indent-sm no-border-radius">
                                        <li><a href="portfolio-right-sidebar-2-col.html"> 2 Column </a></li>
                                        <li><a href="portfolio-right-sidebar-3-col.html"> 3 Column </a></li>
                                        <li><a href="portfolio-right-sidebar-4-col.html"> 4 Column </a></li>
                                    </ul>
                                </li>
                                <li><a href="portfolio-masonary.html"> Masonary </a></li>
                                <li><a href="portfolio-full-width.html"> Full Width </a></li>
                                <li><a href="portfolio-full-width-spaced.html"> Full Spaced</a></li>
                                <li><a href="portfolio-3-col.html"> Boxed </a></li>
                                <li><a href="portfolio-single.html"> Single V1 </a></li>
                                <li><a href="portfolio-single-v2.html"> Single V2 </a></li>
                                <li><a href="portfolio-single-v3.html"> Single V3 </a></li>
                            </ul>
                        </li>
                        <li class="dropdown right-dropdown" data-animation="fadeIn">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="index.html"
                                data-title="Home">เอกสารที่เผยแพร่</a>
                            <ul class="dropdown-menu no-border-radius">
                                <li><a href="blog-one-col.html"> Blog One Column </a></li>
                                <li><a href="blog-two-col.html"> Blog Two Column </a></li>
                                <li><a href="blog-three-col.html"> Blog Three Column </a></li>
                                <li><a href="blog-left-sidebar.html"> Blog Left Sidebar </a></li>
                                <li><a href="blog-right-sidebar.html"> Blog Right Sidebar </a></li>
                                <li><a href="blog-masonary.html"> Masonary </a></li>
                                <li><a href="blog-full-width.html"> Full Width </a></li>
                                <li><a href="blog-single.html"> Blog Single </a></li>
                            </ul>
                        </li>
                        <li class="dropdown right-dropdown" data-animation="fadeIn">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="index.html"
                                data-title="Home">เมนูนักลงทุนสัมพันธ์อื่นๆ</a>
                            <ul class="dropdown-menu no-border-radius">
                                <li><a href="blog-one-col.html"> Blog One Column </a></li>
                                <li><a href="blog-two-col.html"> Blog Two Column </a></li>
                                <li><a href="blog-three-col.html"> Blog Three Column </a></li>
                                <li><a href="blog-left-sidebar.html"> Blog Left Sidebar </a></li>
                                <li><a href="blog-right-sidebar.html"> Blog Right Sidebar </a></li>
                                <li><a href="blog-masonary.html"> Masonary </a></li>
                                <li><a href="blog-full-width.html"> Full Width </a></li>
                                <li><a href="blog-single.html"> Blog Single </a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</header>
<!--/header of the page -->